[submodule "Contador"]
	path = Contador
	url = https://github.com/codeludo/counter_with_toast.git
[submodule "Salarios"]
	path = Salarios
	url = https://github.com/codeludo/KOTLIN-EJERCICIOS.git
[submodule "DiceRoller"]
	path = DiceRoller
	url = https://github.com/codeludo/DiceRollerExercise.git
[submodule "AboutMe"]
	path = AboutMe
	url = https://github.com/codeludo/About_Me_Exersice.git
[submodule "ColorMyViews"]
	path = ColorMyViews
	url = https://github.com/codeludo/ColorMyViews-Exercise.git
[submodule "My-Login-Application"]
	path = My-Login-Application
	url = https://github.com/codeludo/My-Login-Application.git
