[submodule "Contador"]
	path = Contador
	url = https://github.com/codeludo/counter_with_toast.git
[submodule "Salarios"]
	path = Salarios
	url = https://github.com/codeludo/KOTLIN-EJERCICIOS.git
[submodule "DiceRoller"]
	path = DiceRoller
	url = https://github.com/codeludo/DiceRollerExercise.git
[submodule "AboutMe"]
	path = AboutMe
	url = https://github.com/codeludo/About_Me_Exersice.git
